name: Update WXLaunch Maps

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # every 30 minutes (UTC)

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: wx
          environment-file: environment.yml
          channels: conda-forge
          channel-priority: strict

      - name: Run map scripts
        shell: bash -l {0}
        run: |
          python make_temp_map_ndfd.py
          python make_dewpoint_map_ndfd.py
          python make_wind_map_ndfd.py

      - name: Commit updated maps (if changed)
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update maps"
          file_pattern: maps/*.png
